<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.logos.form">

    <application
        android:name="info.logos.form.Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="info.logos.form.Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.ThemeActivity"
            android:parentActivityName="info.logos.form.Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.logos.form.Activity.MainActivity" />
        </activity>
        <activity
            android:name="info.logos.form.Activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.logos.form.Activity.AboutActivity"
            android:parentActivityName="info.logos.form.Activity.MainActivity" />
        <activity
            android:name="info.logos.form.Activity.SlidingThemeActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="info.logos.form.Activity.MainActivity"
            android:theme="@style/AppTheme.ThemeActivity"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_prefix"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <receiver
            android:name="info.logos.form.Network.reciever.DatabaseUpdateReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.madsoft.action.UPDATE_TABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="info.logos.form.Network.reciever.NetworkConnectionReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="info.logos.form.service.DownloadService" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>